API_PORT=8000

DB_HOST=localhost
DB_PORT=5432
DB_USERNAME=
DB_PASSWORD=
DB_NAME=

TENANT_DB_HOST=localhost
TENANT_DB_PORT=5432
TENANT_DB_USERNAME=
TENANT_DB_PASSWORD=
TENANT_DB_NAME=

REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=undefine
REDIS_USERNAME=default
REDIS_TLS_ENABLED=false

BULL_BOARD_USERNAME=
BULL_BOARD_PASSWORD=